html {
  margin: auto;
  font-size: 16px;
  max-height: 915px;
  height: 100%;
  max-width: 450px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-weight: normal;
  height: 100%;
  max-width: 450px;
}

#root {
  height: 100%;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
